@model List<Book>

@{
    ViewData["Title"] = "Book List";
}

<h2>Book List</h2>

<p>
    <a asp-action="Create">Add New Book</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
            </tr>
        }
    </tbody>
</table>
