@{
    ViewData["Title"] = "Home Page";
}


@if (ViewBag.Message != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background: url('Images/books.jpeg') no-repeat center center fixed;
            background-size: cover;
            font-family: Arial, sans-serif;
           
        }

        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1em;
        }

        nav {
            background-color: #555;
            overflow: hidden;
        }

            nav a {
                float: left;
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                nav a:hover {
                    background-color: #ddd;
                    color: black;
                }

        section {
            padding: 20px;
            color: #fff; 
            font-size: 170px;
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 1em;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>

    <header>
        <h1>Library Management System</h1>
    </header>

    <nav>
      
        <a asp-controller="Books" asp-action="Index">Books</a>
        <a asp-controller="Books" asp-action="Create"> Add Books</a>
        <a asp-controller="Users" asp-action="Index">Members</a>
        <a asp-controller="Transaction" asp-action="Index">Transactions</a>
      
    </nav>

    <section>
        <h1>Welcome to the Library Management System</h1>

    </section>

    <footer>
        <p>&copy; 2023 Library Management System</p>
    </footer>

</body>
</html>

